html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
}

.page-container {
  display: flex;
  flex-direction: column;
}
.page-container .hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(to right, #b32281, #e03572);
  height: 300px;
}
.page-container .hero-wrapper .elements-hdr {
  font-size: 42px;
  color: white;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.page-container .hero-wrapper .published-date {
  font-size: 18px;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 90px;
}
.page-container .main-wrapper {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: -20px;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  height: 2700px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
}
.page-container .main-wrapper .heading-font-sizing .h1 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 42px;
}
.page-container .main-wrapper .heading-font-sizing .h2 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 37px;
}
.page-container .main-wrapper .heading-font-sizing .h3 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 32px;
}
.page-container .main-wrapper .heading-font-sizing .h4 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 27px;
}
.page-container .main-wrapper .heading-font-sizing .h5 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 23px;
}
.page-container .main-wrapper .heading-font-sizing .h6 {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.page-container .main-wrapper .heading-font-sizing a {
  text-decoration: none;
  color: #e91e63;
  transition: 0.3s ease-in;
}
.page-container .main-wrapper .paragraph .paragraph-hdr {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 37px;
}
.page-container .main-wrapper .paragraph .paragraph-wrapper {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 50%;
  line-height: 1.5;
}
.page-container .main-wrapper .paragraph .paragraph-wrapper a {
  text-decoration: none;
  color: #e91e63;
}
.page-container .main-wrapper .paragraph a {
  text-decoration: none;
  color: #e91e63;
}
.page-container .main-wrapper .list-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-container .main-wrapper .list-types span {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
}
.page-container .main-wrapper .list-types .list-hdr {
  font-size: 37px;
}
.page-container .main-wrapper .list-types .defintion-hdr {
  font-size: 32px;
}
.page-container .main-wrapper .list-types .definition-title {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.page-container .main-wrapper .list-types p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.page-container .main-wrapper .ordered-list .order-hdr {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.page-container .main-wrapper .ordered-list ol {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.page-container .main-wrapper .unordered-list .unorder-hdr {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.page-container .main-wrapper .unordered-list ul {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.page-container .main-wrapper .unordered-list a {
  text-decoration: none;
  color: #e91e63;
}
.page-container .main-wrapper .forms .forms-hdr {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.page-container .main-wrapper .forms .legend {
  color: #333333;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-container .main-wrapper .forms .forms-paragraph {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 50%;
}
.page-container .main-wrapper form .form-element-hdr {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.page-container .main-wrapper form p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 50%;
}
.page-container .main-wrapper .text-field-text-area p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .select-element {
  display: flex;
  flex-direction: column;
}
.page-container .main-wrapper .select-element label {
  display: block;
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .select-element select {
  width: 150px;
}
.page-container .main-wrapper .radio-buttons p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .radio-buttons label {
  display: block;
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.page-container .main-wrapper .checkboxes p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .checkboxes label {
  display: block;
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.page-container .main-wrapper .password p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .file-input label {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-weight: bolder;
}
.page-container .main-wrapper .submit-button {
  margin-top: 20px;
}
.page-container .main-wrapper .submit-button button {
  background-color: #e91e63;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  border-color: #e91e63;
  cursor: pointer;
  box-shadow: none;
}/*# sourceMappingURL=elements.css.map */