@mixin heading-settings {
  color: #3c4858;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
}

@mixin p-tags {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

@mixin top-a-tags {
  text-decoration: none;
  color: #e91e63;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
}

.page-container {
  display: flex;
  flex-direction: column;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background: linear-gradient(to right, #b32281, #e03572);
    height: 300px;

    .elements-hdr {
      font-size: 42px;
      color: white;
      font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .published-date {
      font-size: 18px;
      color: white;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      margin-bottom: 90px;
    }
  }

  .main-wrapper {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    padding: -20px;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    margin-top: -50px;
    display: flex;
    height: 2700px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;

    .heading-font-sizing {
      .h1 {
        @include heading-settings;
        font-size: 42px;
      }

      .h2 {
        @include heading-settings;
        font-size: 37px;
      }

      .h3 {
        @include heading-settings;
        font-size: 32px;
      }

      .h4 {
        @include heading-settings;
        font-size: 27px;
      }

      .h5 {
        @include heading-settings;
        font-size: 23px;
      }

      .h6 {
        @include heading-settings;
        font-size: 18px;
      }

      a {
        @include top-a-tags;
        transition: 0.3s ease-in;
      }
    }

    .paragraph {
      .paragraph-hdr {
        @include heading-settings();
        font-size: 37px;
      }

      .paragraph-wrapper {
        @include p-tags;
        width: 50%;
        line-height: 1.5;

        a {
          @include top-a-tags;
        }
      }

      a {
        @include top-a-tags;
      }
    }

    .list-types {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        @include heading-settings;
      }
      .list-hdr {
        font-size: 37px;
      }
      .defintion-hdr {
        font-size: 32px;
      }

      .definition-title {
        @include heading-settings;
        font-size: 19px;
      }

      p {
        @include p-tags;
      }
    }

    .ordered-list {
      .order-hdr {
        @include heading-settings;
        font-size: 32px;
        font-weight: 500;
      }

      ol {
        // gap: 10px;
        @include p-tags;
      }
    }

    .unordered-list {
      .unorder-hdr {
        @include heading-settings;
        font-size: 32px;
        font-weight: 500;
      }

      ul {
        @include p-tags;
      }

      a {
        @include top-a-tags;
      }
    }
  }
}
