.page-container {
  // padding-top: 30px;
  header {
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      padding: 0 40px;

      .nav-links {
        display: flex;
        gap: 20px;

        .nav-label {
          a {
            font-size: 12px;
          }
        }
      }
      .nav-more {
        background-color: #e91e63;
        border-radius: 30%;
        padding: 10px 25px;
        a {
          color: white;
          font-size: 12px;
        }
      }

      a {
        text-decoration: none;
        font-size: 18px;
        color: #555555;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
