html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
}

.page-container {
  display: flex;
  flex-direction: column;
}
.page-container .hero-wrapper {
  position: relative;
  background-image: url("../../assets/clouds.jpg");
  width: 100%;
  height: 570px;
}
.page-container .hero-wrapper .statue-img {
  height: 570px;
  width: auto;
  position: absolute;
  left: 285px;
  top: -35px;
}
.page-container .hero-wrapper .welcome {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 67px;
  color: white;
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.page-container .hero-wrapper .lorem {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 18px;
  color: white;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.page-container .hero-wrapper .see-more {
  position: absolute;
  display: inline-block;
  background-color: #e91e63;
  border-radius: 3px;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 33px;
  font-size: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.page-container .main-wrapper {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  z-index: 100;
}
.page-container .main-wrapper .stand-for-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 80%;
  margin: 0 auto;
}
.page-container .main-wrapper .stand-for-container .stand-for-heading {
  color: #3c4858;
  font-size: 37px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 120px;
}
.page-container .main-wrapper .stand-for-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}
.page-container .main-wrapper .stand-for-container .grid-container img {
  width: 70px;
  height: auto;
  margin-bottom: 15px;
}
.page-container .main-wrapper .stand-for-container .grid-container span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3c4858;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.page-container .main-wrapper .stand-for-container .grid-container p {
  max-width: 270px;
  color: #999999;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.page-container .main-wrapper .about-hestia {
  display: flex;
  background-image: url("../../assets/mountain.jpg");
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.page-container .main-wrapper .about-hestia span {
  color: #fff;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 37px;
}
.page-container .main-wrapper .about-hestia p {
  color: #fefefe;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  width: 375px;
  line-height: 1.5;
}
.page-container .main-wrapper .about-hestia img {
  width: auto;
  height: 140px;
}
.page-container .main-wrapper .blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
}
.page-container .main-wrapper .blog-container .blog-heading {
  color: #3c4858;
  font-size: 37px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 19px;
}
.page-container .main-wrapper .blog-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  width: 80%;
  text-align: center;
}
.page-container .main-wrapper .blog-container .grid-container .purple {
  text-align: left;
}
.page-container .main-wrapper .blog-container .grid-container .blue {
  text-align: left;
}
.page-container .main-wrapper .blog-container .grid-container .red {
  text-align: left;
  margin-left: 30px;
}
.page-container .main-wrapper .blog-container .grid-container span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3c4858;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  margin-top: 10px;
}
.page-container .main-wrapper .blog-container .grid-container p {
  color: #999999;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
  max-width: 200px;
}
.page-container .main-wrapper .blog-container .grid-container p a {
  text-decoration: none;
  color: #23527c;
}
.page-container .main-wrapper .blog-container .grid-container a {
  text-decoration: none;
}
.page-container .main-wrapper .blog-container .grid-container .purple-uncategorized {
  color: #89229b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.page-container .main-wrapper .blog-container .grid-container .blue-uncategorized {
  color: #00bcd4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.page-container .main-wrapper .blog-container .grid-container .red-uncategorized {
  color: #f44336;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.page-container .main-wrapper .get-in-touch-container {
  background-image: url("../../assets/mountain.jpg");
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper {
  padding: 100px;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .header {
  font-size: 37px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .find-us-office {
  font-size: 18px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .find-us-office i {
  font-size: 32px;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .strada-address {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .give-us-ring {
  font-size: 18px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
}
.page-container .main-wrapper .get-in-touch-container .get-in-touch-wrapper .john-doe-number {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-container footer {
  background-color: #323437;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  z-index: 2000;
}
.page-container footer nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.page-container .nav-links-left {
  display: flex;
  gap: 20px;
}
.page-container .nav-label {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.page-container .nav-label a {
  text-decoration: none;
  color: white;
}
.page-container .developed-by {
  margin-left: auto;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */