html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
}

// $font-18-settings: (
//   font-size: 18px,
//   color: #3c4858,
//   font-family: "Roboto Slab",
//   "Times New Roman",
//   serif,
//   font-weight: 700,
// );
.page-container {
  display: flex;
  flex-direction: column;
  .hero-wrapper {
    position: relative;

    .clouds-img {
      position: absolute;
      height: 570px;
      width: 100%;
    }

    .statue-img {
      height: 570px;
      width: auto;
      position: absolute;
      left: 285px;
      top: -35px;
    }

    .welcome {
      position: absolute;
      top: 220px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      font-size: 67px;
      color: white;
      font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    .lorem {
      position: absolute;
      top: 300px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      font-size: 18px;
      color: white;
      font-family: "Roboto Slab", "Times New Roman", serif;
    }

    .see-more {
      position: absolute;
      display: inline-block;
      background-color: #e91e63;
      border-radius: 3px;
      top: 400px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 33px;
      font-size: 12px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }

  .main-wrapper {
    position: relative;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: -20px;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
    top: 446px;

    .stand-for-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px;
      width: 80%;
      margin: 0 auto;

      .stand-for-heading {
        color: #3c4858;
        font-size: 37px;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        text-align: center;
        margin-bottom: 120px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: center;

        img {
          width: 70px;
          height: auto;
          margin-bottom: 15px;
        }

        span {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #3c4858;
          font-size: 18px;
          font-weight: 700;
          font-family: "Roboto Slab", "Times New Roman", serif;
        }

        p {
          max-width: 270px;
          color: #999999;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 1.5;
        }
      }
    }
    .about-hestia {
      display: flex;
      // position: relative;
      background-image: url("../../assets/mountain.jpg");
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
      height: 500px;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

      .words-wrapper {
        display: flex;
        flex-direction: column;
      }
      span {
        display: flex;
        color: #fff;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        font-size: 37px;
      }

      p {
        color: #fefefe;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
      }

      img {
        width: auto;
        height: 140px;
      }
    }

    .blog-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      margin: 0 auto;

      .blog-heading {
        color: #3c4858;
        font-size: 37px;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        text-align: center;
        margin-bottom: 19px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        width: 80%;
        text-align: center;

        .purple {
          text-align: left;
        }

        .blue {
          text-align: left;
        }

        .red {
          text-align: left;
          margin-left: 30px;
        }

        span {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #3c4858;
          font-size: 18px;
          font-weight: 700;
          font-family: "Roboto Slab", "Times New Roman", serif;
          margin-top: 10px;
        }

        p {
          color: #999999;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 1.5;
          text-align: left;
          max-width: 200px;

          a {
            text-decoration: none;
            color: #23527c;
          }
        }

        .purple-uncategorized {
          color: #89229b;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .blue-uncategorized {
          color: #00bcd4;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .red-uncategorized {
          color: #f44336;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .get-in-touch-container {
      position: relative;
      background-image: url("../../assets/mountain.jpg");
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 700px;
      background-repeat: no-repeat;
      background-size: cover;
      // padding: 100px;

      .find-us-office {
        color: white;
        padding: 60px;
        font-size: 37px;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
      }

      i {
        position: relative;
        z-index: 100;
        top: 5px;
        font-size: 42px;

        // &.fa-solid.fa-location-dot {
        //   color: white;
        //   top: 332px;
        //   left: 146px;
        // }

        // &.fa-solid.fa-mobile-screen-button {
        //   color: white;
        //   top: 411px;
        //   left: -567px;
        // }
      }

      // span {
      //   position: relative;
      //   z-index: 100;
      //   color: white;
      //   top: 5px;

      // &.get-in-touch {
      //   font-size: 37px;
      //   font-family: "Roboto Slab", "Times New Roman", serif;
      //   font-weight: 700;
      //   top: 236px;
      //   left: 111px;
      // }

      // &.find-us-office {
      //   font-size: 18px;
      //   font-family: "Roboto Slab", "Times New Roman", serif;
      //   top: 50px;
      //   font-weight: 700;
      //   top: 330px;
      //   left: -75px;
      // }

      // &.strada-address {
      //   font-size: 14px;
      //   font-family: Arial, Helvetica, sans-serif;
      //   top: 363px;
      //   left: -247px;
      // }

      // &.give-us-ring {
      //   font-size: 18px;
      //   font-family: "Roboto Slab", "Times New Roman", serif;
      //   top: 401px;
      //   left: -560px;
      //   font-weight: 700;
      // }

      // &.john-doe-number {
      //   font-size: 14px;
      //   font-family: Arial, Helvetica, sans-serif;
      //   top: 433px;
      //   left: -680px;
      // }
    }
    // }
    footer {
      background-color: #323437;
      width: 100%;
      height: 100px;
      position: relative;
      z-index: 2004;
      padding: 0 20px;

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .nav-left {
          display: flex;
          align-items: center;
          margin-right: auto;

          .nav-links-left {
            display: flex;

            .nav-label {
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
              color: white;
              margin-right: 20px;
            }
          }
        }

        .nav-right {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .nav-label {
            text-align: right;
            color: white;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;

            a {
              text-decoration: none;
              color: white;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
