html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 100%;

    .statue-img {
      position: absolute;
      height: 620px;
      width: auto;
      margin-bottom: 20px;
    }

    .center {
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 20px;

      .welcome {
        font-size: 67px;
        color: white;
        font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }

      .lorem {
        text-align: center;
        padding: 10px;
        font-size: 18px;
        color: white;
        font-family: "Roboto Slab", "Times New Roman", serif;
      }

      .see-more {
        align-self: center;
        text-align: center;
        background-color: #e91e63;
        border-radius: 3px;
        padding: 15px;
        font-size: 12px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 80px;
        text-decoration: none;
      }
    }
  }

  .main-wrapper {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
    margin-top: -50px;

    .stand-for-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px;
      width: 80%;
      margin: 0 auto;

      .stand-for-heading {
        color: #3c4858;
        font-size: 37px;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        text-align: center;
        margin-bottom: 120px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: center;

        img {
          width: 70px;
          height: auto;
          margin-bottom: 15px;
        }

        span {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #3c4858;
          font-size: 18px;
          font-weight: 700;
          font-family: "Roboto Slab", "Times New Roman", serif;
        }

        p {
          max-width: 270px;
          color: #999999;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 1.5;
        }
      }
    }
    .about-hestia {
      display: flex;
      background-image: url("../../assets/mountain.jpg");
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
      justify-content: center;
      gap: 80px;

      span {
        color: #fff;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        font-size: 37px;
      }

      p {
        color: #fefefe;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
        word-wrap: break-word;
        width: 375px;
        line-height: 1.5;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      margin: 0 auto;

      .blog-heading {
        color: #3c4858;
        font-size: 37px;
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-weight: 700;
        text-align: center;
        margin-bottom: 19px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        width: 80%;
        text-align: center;

        .purple {
          text-align: left;
        }

        .blue {
          text-align: left;
        }

        .red {
          text-align: left;
          margin-left: 30px;
        }

        .a-tag-hdr {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #3c4858;
          font-size: 18px;
          font-weight: 700;
          font-family: "Roboto Slab", "Times New Roman", serif;
          margin-top: 10px;

          &:hover {
            cursor: pointer;
            color: #a1a2a3;
          }
        }

        p {
          color: #999999;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 1.5;
          text-align: left;
          max-width: 200px;

          a {
            text-decoration: none;
            color: #23527c;
          }
        }

        a {
          text-decoration: none;
        }

        .purple-uncategorized {
          color: #89229b;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;

          &:hover {
            color: #89229bb6;
          }
        }

        .blue-uncategorized {
          color: #00bcd4;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;

          &:hover {
            color: #00bbd4af;
          }
        }

        .red-uncategorized {
          color: #f44336;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;

          &:hover {
            color: #f44336b1;
          }
        }
      }
    }

    .get-in-touch-container {
      background-image: url("../../assets/mountain.jpg");
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 700px;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;

      .get-in-touch-wrapper {
        padding: 100px;

        .header {
          font-size: 37px;
          font-family: "Roboto Slab", "Times New Roman", serif;
          font-weight: 700;
          line-height: 3;
        }

        .find-us-office {
          font-size: 18px;
          font-family: "Roboto Slab", "Times New Roman", serif;
          font-weight: 700;
          line-height: 3;
          i {
            font-size: 32px;
          }
        }

        .strada-address {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 3;
        }

        .give-us-ring {
          font-size: 18px;
          font-family: "Roboto Slab", "Times New Roman", serif;
          font-weight: 700;
          line-height: 3;

          i {
            font-size: 32px;
          }
        }

        .john-doe-number {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .page-container {
    .hero-wrapper {
      height: 530px;
      .center {
        .welcome {
          font-size: 35px;
        }
      }
    }
    .main-wrapper {
      .stand-for-container {
        height: 850px;
        .grid-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
        }
      }
      .about-hestia {
        flex-direction: column;

        img {
          width: 80%;
        }
      }

      .blog-container {
        height: 750px;
        .grid-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;

          .purple {
            text-align: center;
          }

          .blue {
            text-align: center;
          }

          .red {
            text-align: center;
            margin: 0;
          }

          p {
            text-align: center;
            max-width: none;
          }
        }
      }
    }
  }
}
